<template>
    <div class="main">
        <div class="articles">
            <div v-for="article in articles" :key="article.id" class="article">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <a :href="article.url" class="more">Read More</a>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		asyncData ({ store, route }) {
            return store.dispatch('fetchSources');
		},
		computed: {
			articles () {
                return this.$store.state.articles;
			}
		}
	}
</script>

<style lang="scss">
.main {
    display: flex;
    justify-content: center;
}
.articles {
    width: 60%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article {
    border: 1px solid;
    background-color: lightblue;
    border-radius: 1rem;
    margin-bottom: 5px;
}
.more {
    display: inline-block;
    width: 130px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: orangered;
    border-radius: .5rem;
    color: black;
    text-decoration: none;
}
</style>