<template>
    <div class="header">Top Headlines Technology news</div>
</template>

<style lang="scss">
.header {
    height: 50px;
    background-color: orange;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
</style>